<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2> Agbo Vincent</h2>
            <h3>Bachelor of Electronic Engineerign</h3>
            <h4>agbovincent100@gmail.com</h4>
        </div>
        <!-- <img src="https://byteworks.com.ng/images/excellence-icon.png" alt="Agbo vincent" > -->
        <img src="assets/passport.JPG" alt="">
    </div>
           <mat-divider></mat-divider>
          <h2 matSubheader>Career goals</h2>
          <p class="goals">To apply my knowledge of programming, software Engineerign 
              in a digital environment to achieve maximum benefit.<br>
              To develop a software product that will be helpful to 
              the society making life easier.
              
          </p>
          <!--<a mat-list-item routerLinkActive="list-item-active" routerLink="/default">Dashboard</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
         
        <mat-divider></mat-divider>
        
        <h2 matSubheader>Tools</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>import_contacts</mat-icon>
            Contacts
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>contact_phone</mat-icon>
            Leads
        </a> -->
</mat-nav-list>

