<!-- <form class="">
        <p class="hi">Objective</p> 
        <div>
         <input class="objective" type="text"  placeholder="" >
         </div>

         <p class="hi">Description</p> 
          <div>
           <input class="description"type="text" placeholder="" >
        </div>
    
        <p class="hi">Key resullt</p> 
        <div>
                <input class="key"type="text" placeholder="" >
             </div>
         
             <p class="hi">Submission date</p> 
             <div>
                     <input class="submission"type="text" Textholder="" >
                  </div>

      <button class="btns" block="true" type="submit"
             routerLink="/admin"> send to </button>
    
     
    </form> 
     -->
<img src="assets/teach1.jpg" alt="image" class="teach">
<img src="assets/teach2.jpg" alt="image" class="teach">
<img src="assets/teach3.jpg" alt="image" class="teach">
<img src="assets/teach4.jpg" alt="image" class="teach">
<img src="assets/teach5.jpg" alt="image" class="teach">
<img src="assets/teach6.jpg" alt="image" class="teach">
<img src="assets/teach7.jpg" alt="image" class="teach">
<img src="assets/teach8.jpg" alt="image" class="teach">
<img src="assets/teach9.jpg" alt="image" class="teach">
<img src="assets/teach11.jpg" alt="image" class="teach">
<img src="assets/community_mentor.JPG" alt="image" class="teach">
<img src="assets/nse_cert.JPG" alt="image" class="teach">
<img src="assets/advert1.JPG" alt="image" class="teach">
<img src="assets/advert2.JPG" alt="image" class="teach">
<img src="assets/afri_hub.JPG" alt="image" class="teach">
<img src="assets/choir_cert.JPG" alt="image" class="teach">
