/* .objective{
    height: 70px;
    width: 500px;

}
.description{
    height: 150px;
    width: 500px;
}
.key{
    height: 50px;
    width: 500px;
}
.submission{
    height: 30px;
   width: 500px;

}
.btns{
    margin-top: 20px;
    background-color: orchid;
    height: 50px;
    width: 500px;
    border-radius: 20%;
}
.hi{
    margin-bottom: 0px;
    margin-top: 10px;
    text-decoration-style: solid;
    text-decoration-color: palevioletred;
} */
.teach{
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    margin-right: 40px;

    
}