<form class="">
        <p class="hi">Objective</p> 
        <div>
         <input class="objective" type="text"  placeholder="" >
         </div>

         <p class="hi">Description</p> 
          <div>
           <input class="description"type="text" placeholder="" >
        </div>
    
        <p class="hi">Key resullt</p> 
        <div>
                <input class="key"type="text" placeholder="" >
             </div>
         
             <p class="hi">Submission date</p> 
             <div>
                     <input class="submission"type="text" Textholder="" >
                  </div>

      <button class="btns" block="true" type="submit"
             routerLink="/admin"> send to </button>
    
     
    </form> 
    
