<form class="register">
  
        <p class="hd"></p> 
        <div  class="name" >
          <input class="firstname" type="name" placeholder="First Name"  >
          <input  class="lastname" type="name"placeholder="Last Name" >
            </div>
                <div>
               <input class="emailadd" type="email" placeholder="E-mail" >
            </div>
          <div>
        <input class="passwordd"type="password" placeholder="Password" >
        </div>
        <div>
         <input class="cpassword" type="password"  placeholder="Comfirm Password" >
          </div>
          <div>
            <input class="state" type="text"  placeholder="State of origin" >
            <input class="age" type="text"  placeholder="Age" >
             </div>
               <div>
                <input class="plang" type="text"  placeholder="Skills" >
                <input class="edulevel" type="text"  placeholder="Qualification" >
                 </div>
      <button class="rbtn" block="true" type="submit">REGISTER</button>
      <p class="not">Already Registerd?
            <a href="/login">Login
            </a>
          </p>
    
    </form> 
    