<router-outlet>
     <p>
      <!--
       <a routerLink="/login">Login</a>
        <a routerLink="/admin">Go to admin</a>
         <a routerLink="/login"><button class="btn btn-success pull-right" > Login</button></a>
        <a routerLink="/admin"><button class="btn btn-success pull-right" > Go to Admin</button></a>
      -->
<!--           
    <input type="text" placeholder="email"> 
    <input type="password" placeholder="password"> 
    <input type="submit" value="Submit"> -->
    
    
    </p>
    
</router-outlet>