.image{
    background-image: url("https://byteworks.com.ng/images/excellence-icon.png");
    width: 180px;
    height: 180px;
    margin-left: 8opx;
} 
.src{
    background-image: url("https://byteworks.com.ng/images/excellence-icon.png");
    width: 180px;
    height: 180px;
    margin-left: 8opx;
}