<p class="hd">OBJECTIVE</p> 
<form class="objective">
        <p  class="Task1"> TASK 1: ======  Implement the front-end of the reference exercise using Angular framework 
                (skip the backend API and database part for this exercise. Do just the frontend).  
                Use local storage on the browser for persistence, so your application can be used
                 even though all data is lost once the browser is closed.  
                Implement automated tests for your application and run using the Protractor framework.  
                Submission: Create a Github repository for your codebase and submit the repository link 
                to   
                <a href="">careers@byteworks.com.ng​, cc: ​damedu@byteworks.com.ng​ 
           
                </a>
              
        </p> 
    
       
        
        <p class="Task2"> TASK 2: ====== Design a relational database for your application 
                (create tables that will be used to store your data) using your RDBMS of choice 
                (PostgreSQL, MySQL, or H2). Ensure your tables are normalized up to the 3rd normal form. 
                No need to populate with data.  
                Submission: Export the DDL script for your database and submit to​ 
                <a href="careers@byteworks.com.ng">careers@byteworks.com.ng​, cc: ​damedu@byteworks.com.ng​ 
           
                    </a>
                   
        </p> 


               <p class="Task3"> TASK 3: ====== Implement a Restful API (Java or Node) to support create, read, update and delete (CRUD) actions for 
                    1. Administrator (A default administrator should be created in the system) 2. Member 3. Objective  
                   Note that an objective is assigned to a member upon creation. However, 
                   it may be reassigned to another with a reason for reassignment.  
                   Update the angular client created in Task 1 to consume the services exposed by the Restful API.  
                   Submission: Create a Github repository for your codebase and submit the repository
                    link to 
                    <a href="careers@byteworks.com.ng">careers@byteworks.com.ng​, cc: ​damedu@byteworks.com.ng​ 
           
                        </a>
                        
                  
               </p> 

                  <p class="" >Duration​: 21 days. Submission before the deadline -17th December, 2019 is allowed.  </p> 


                  <button class="btnview" block="true" type="submit"
                  routerLink="/keyResult"> View Key Result</button>
         
                </form>




